<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.teds.zsamobile"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>ZSA M</name>

  <description>
      Zombie Shooter Arcade Mobile
  </description>

  <author href="https://sites.google.com/view/tedps" email="support@phonegap.com">
      DovydasTEDS
  </author>

  <icon src="icon.png" />
  
</widget>